body{
    background-color: aquamarine;
}
#container{
    width: 60%;
}

.form-container{
    background-color: beige;
    align-items: center;
    border-radius: 5%;
}

#dropdown{
    border-radius: 5%;
    width: 100%;
    cursor: pointer;
}